html,
body {
  width: 100%;
  height: 100%;
}

div.l-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-weight: normal;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
}

body.local {
  padding: 50px;
}
body.local div.l-container {
  width: 310px;
  height: 370px;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  padding: 0 10px;
  margin: 0;
  vertical-align: top;
  background: #3187b3;
  height: 30px;
  line-height: 29px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  border-bottom: 1px solid;
  border-bottom-color: #26698b;
}

.widget-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #fff;

/*  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #fff;*/
}

#community-link {
  position: absolute;
}
#howto-question #community-link {
  position: relative;
}

.community-link a {
  display: block;
  padding-right: 38px;
  height: 100%;
  text-decoration: none;
  background: #CF205D no-repeat url("https://fusion-universal-assets-production.s3.amazonaws.com/file-host/09ae44be-7d40-44c4-b41a-d30f6f915b91--1403462748092636001-/1273/arrow-small-double-white-2x.png") 98% 17px;
  background-size: 19px 18px;
}
#community-link-faq a {
  background-color: #E26691;
}

#community-link-library a {
  background-color: #C63D6D;
}
.community-link a:hover,
#community-link-faq.community-link a:hover,
#community-link-library.community-link a:hover {
  background-color: #96294A;
}
.community-link a .inner {
  padding: 10px;
  margin-right: 10px;
}
.community-link span {
  display: block;
}
.community-type {
  color: #fff;
  text-transform: uppercase;
  line-height: 30px;
}

.widget-title {
  padding: 10px;
  /*text-transform: uppercase;*/
  color: #000;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

#howto-question-form {
  padding: 10px;
  display: block;
}
#howto-question-form .question-form-question textarea {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 4px;
  color: #000;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-color: rgba(38, 39, 43, 0.6);
  border-width: 1px;
  border-style: solid;

}
#howto-question-form .question-form-question textarea.validation-error {
  border-color: #CF205D;
  color: #CF205D;
}
#howto-question-form .question-form-question textarea#question-name {
  height: 50px;
}
#howto-question-form .question-form-question textarea#question-description {
  height: 90px;
}
.placeholder {
  color: #aaa;
}
#howto-question-form .question-form-options {
  text-align: right;
}
#howto-question-form .question-form-options .validation-error-message {
  color: #CF205D;
  display: none;
}
#howto-question-form .question-form-options .api-error-message {
  color: #CF205D;
  display: none;
}
#howto-question-form .question-form-options .button {
  color: #fff;
  background: #CF205D;
  border-bottom-color: #26698b;
}
#howto-question-success {
  display: none;
  padding: 10px;
}
#howto-question-success p {
  padding: none;
  padding-bottom: 10px;
  margin: none;
}